@font-face {
    font-family: 'Almarai';
    src: url('/ui/font/Almarai-Regular.ttf');
}

.root {
    -fx-font-family: 'Almarai';
}

.login-panel{
    -fx-background-image:url('/ui/images/background-image.jpg');
    -fx-background-size:cover;
    -filter: grayscale(1);
}

.login-form{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color:white;

}


.button{
    -fx-text-fill: white ;
    -fx-background-color: #49a93f;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.selected-button{
    -fx-text-fill: white ;
    -fx-background-color: blue !important;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
.button:hover{
    -fx-background-color: green;
}
.text-field, .password-field {
    -fx-border-color: #edeff0;
    -fx-background-color: #fcfdfe;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-alignment: CENTER_RIGHT;
    -fx-font-size: 12px;
    -fx-pref-width: 200; /* Set preferred width */
    -fx-pref-height: 10; /* Set preferred height */
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.text-field:focused,.password-field:focus{
    -fx-border-color: blue;
}

.label{
    -fx-text-fill: black ;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.login-button{
    -fx-background-color: red override;
    -fx-font-size: 12px;
}

.hyperlink {
    -fx-text-fill: blue;
    -fx-font-size: 11px;
    -fx-underline: false;
    -fx-cursor: hand;
}

.hyperlink:hover {
    -fx-text-fill: darkblue;
}
